{% extends "base.html" %} {% block content %}
<div class="w-100 mb-5 flex justify-center items-center">
  <fieldset class="p-2 border-2 shadow-md rounded-lg font-semi-bold">
    <legend class="text-4xl font-semibold text-info text-center">
      Create Blog
    </legend>
    <form
      action="{% url 'createBlog' %}"
      method="POST"
      class="flex flex-col justify-center items-center"
    >
      {% csrf_token %} {{form.title}} {{form.description}} {{form.category}}
      {{form.content}}
      <button class="mt-5 px-10 btn btn-info text-white">Create</button>
    </form>
  </fieldset>
</div>
{% endblock %}
