{% extends "base.html" %} {% block content %}


<div class="w-100 h-[36rem] flex justify-center items-center">
<fieldset class="w-30 md:w-1/3 p-2 border-2 shadow-md rounded-lg font-semi-bold " >
    <legend class="text-4xl font-semibold text-info text-center">Login Here</legend>
    <form
    action={% url "login-page" %}
    method="POST"
    class="flex flex-col items-center"
    >
    {% csrf_token %}
    {% for field in form %}
        {{ field }}   
    {% endfor %}
    <button class="my-3 self-center btn btn-info text-white">Login</button>
    </form>
</fieldset>
</div>
{% endblock %}
